.section {
  height: 100vh;
  width: 100vw;
}

.home-right {
  position: absolute;
  right: 0;
  width: 50vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.back-circle {
  position: relative;
  height: 90vh;
  width: 25vw;
  background-color: #ff6600;
  right: 100px;
  bottom: -50px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
}

.back-circle img {
}

.card-bubble {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: white;
  top: 20px;
  left: -50px;
  border-radius: 5px;
  z-index: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-bubble2 {
  right: -20px;
  top: unset;
  left: unset;
  bottom: 150px !important;
  z-index: 3;
}

.back-img {
  position: absolute;
  right: 20px;
  top: 0px;
  width: 100%;
  transform: scaleX(-1);
  z-index: 2;
}

.section2-left {
  width: 35%;
}
.section2-right {
  width: 50%;
}

.section2-left img {
  width: 70%;
  height: 80%;
  z-index: 1;
}

.section2-left img.back {
  z-index: 0;
  width: 100%;
  opacity: 0.1;
  height: 300px;
  top: -90px;
}

.section3 {
}
.section3-content {
  height: calc(100% - 80px);
}

.section3-banner {
  height: 80px;
  position: absolute;
  left: 0;
  width: 100vw !important;
  background-color: #343131;
}

.section3-right {
  width: 30%;
}

.section3-right img {
  position: relative;
}

.section3-left .w-1-2 {
  width: 45%;
}

.faq-item {
  width: 50%;
}

.faq-question + img,
.navs img {
  width: 20px !important;
  opacity: 0.5;
}
.navs img {
  position: relative;
  top: 1px;
}

.navs .hover-component .grid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  height: fit-content;
}
.category-item {
  height: 60px;
  padding-inline: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
.category-item img {
  opacity: 1;
  width: 40px !important;
}

.category-item p {
  text-decoration: underline;
}
.section5-left {
  width: 60%;
  height: 90%;
}

.section5-right {
  width: 30%;
  height: 90%;
  position: relative;
}
.section5-right img {
  width: 80%;
  position: relative;
}

.section5-content {
  height: 100%;
}

.section5-product {
  width: 100%;
  border-radius: 5px;
  height: calc(100% / 3.4);
}

.product-img {
  width: 80px;
}
.product-img img {
  width: 100%;
}

.product-texts {
  width: 60%;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
}

.footer-top {
}

.footer-top-left {
}

.footer-top-left > h1 {
  font-size: 38px;
}

.footer-top-right {
}

.send-message-btn {
  border-radius: 43%;
  margin-left: -55px;
  height: 35px;
  position: relative;
  top: 6px;
  left: 1px;
  z-index: 1;
}

.footer-bottom {
  padding: 50px 20px;
}

.footer-bottom h3 {
  font-size: 23px;
}

.footer-bottom ul {
  list-style: none;
  margin: 10px 0;
  font-size: 16px;
}

.footer-bottom ul li {
  margin-bottom: 10px;
  cursor: pointer;
}
.footer-bottom ul li:hover {
  color: #ff6600 !important;
}
.footer-bottom :last-child ul li:hover {
  color: #ff6600 !important;
}

.social-link :hover {
  background-color: #c8c8c6;
}

/* end footer */

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.product-details {
  width: 100vw;
  height: 100vh;
  margin: 0;
  top: 0 !important;
}


.details-left img{
  left: 100%;
  transform: translateX(-50%);
}

.details-right {
  padding-right:  0 !important;
  padding-left: 150px;
}

.reviews-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.review-container {
  
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.details-left .back-text {
  font-size: 4rem;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .1;
}

.back-text p {
  transform: rotate(270deg);
  text-align: center;

}

.details-left img:nth-of-type(2) {
  left: 10% !important;
  top: 10px;
  opacity: .1;
  transform: none;
  width: 80%;
}

.social-icon {
  width: 25px;
}

.preloader-container {
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.preloader-container img {
  position: relative;
  bottom: 50px;
}